a {
    text-decoration: none;
}

/* navbar */
.navbar {
    height: 56px;
    width: 100vw;
    z-index: 100;
    background-image: url("../assets/nav-bg.png");
    top: 0;
    position:fixed;
    display: flex;
    align-items: center;
    border: auto auto 2px;
    border-bottom: 2px solid #31B9E4;
}
.logo-img {
    width: 134.02px;
    height: 35.99px;
    margin-left: 24px;
}
.navbar-nav {
    margin: 0px;
}
.navbar-start {
    display: flex;
    align-items: center;
    height: inherit;
}
.navbar-end {
    flex-grow: 1;
    display: flex;
    height: inherit;
    flex-flow: row-reverse wrap;
    margin-right: 24px;
}
.navbar-nav {
    height: inherit;
    display: flex;
    height: inherit;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
    margin: 0 auto 0 32px !important;
    height: inherit;

}
.nav-item-active {
    border-bottom: 4px white solid;
}
.nav-link {
    position: relative;
    
}
.nav-link > span {
    text-align: center;
    height: inherit;

    vertical-align: center;
    width: 17px;
    margin: auto;
    height: 17px;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    right: -4;
    top: -5;
    color: white;
    background-color: #2A7FF3;
}
.nav-link > span > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.hamburger {
    display: none;
}
.hamburger-items {
    display: flex;
}
.nav-item > a {
    color: #3FD28B;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
    font-weight: normal;
}
.nav-item > .active {
    color: white !important;
}
.user-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #3FD28B;
    position: relative;

}
.user-img ~ span {
    right: -4;
    top: -4;
    color: black ;
    background-color: white;
}

/* media query */
@media only screen and (max-width: 1030px) {
    .hamburger {
        display: flex;
    }
    .hamburger-items {
        display: none;
    }
}