body {
    background-color: #EEEEEE;
    font-family: Quicksand, sans-serif;
    font-weight: medium;
    margin: 0;
}
.main {
    padding-top: 80px;
    margin: auto 24px;
}

/* navtab */
.navtab {
    background-color: #8DDC97;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.navtab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.navtab > .active {
    border-bottom: 4px solid black;
}
.navtab-item > a {
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}
.navtab-item-digit {
    vertical-align: middle;
    margin: auto 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
}
.nav-tab-icon {
    transform: scaleX(-1);
    vertical-align: middle;
}

/* navtab content */
.sortbar {
    padding-top: 24px;
    height: 45px;
    display: flex;
    border-width: 0 0 1px;
    border-bottom: rgba(0, 0, 0, .12) solid 1px;
}
.sortbar-start {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #686868;
    font-weight: medium;
    letter-spacing: 0;   
    
}
.sortbar-end {
    flex-grow: 1;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: start;
    font-size: 12px;
    line-height: 16px;
    color: #686868;
}
.sortby-dropdown-box {
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, .12);
    width: 165px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 6px;
    background-color: #EEEEEE;
}
.sortbar-end > span {
    display: flex;
    align-items: center;
}
.sortbar-end > span > .iconify {
    color: #1F7A54;
    margin-left: 24px;
}

/* course container */
.courses-container {
    margin-top: 16px;
    display: grid;
    grid-gap: 25px 24px;
    grid-template-columns: repeat(2,minmax(476px,1fr));
    grid-template-rows: auto;
}
.course-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.course-card > .badge {
    position: absolute;
    background-color: #FFE4E6;
    color: #D80000;
    font-family: Museo, sans;
    font-weight: medium;
    font-size: 10px;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
.course-card-top {
    margin: 24px 24px auto;
    padding-bottom: 16px;
    border-bottom: rgba(0, 0, 0, .12) solid 1px;
    display: flex;
}
.course-img {
    width: 132px;
    height: 157px;
}
.course-desc {
    margin-left: 16px;
    flex-grow: 1;
}
.course-desc > p {
    margin: 0 auto;
    position: relative;
    vertical-align: top;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}
.card-heading {
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: normal;
    color: black !important;

}
.course-desc-row-1 {
    margin-top: 7px !important;
}
.course-desc-row-2 {
    margin-top: 7px !important;
}
.course-desc-row-3 {
    margin-top: 13px !important;
}
.course-desc-row-1 > span > span {
    color: #1F7A54;
}
.course-desc-row-2 > b {
    color: black;
}
.class-dropdown-box {
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, .12);
    width: 264px;
    font-size: 16px;
    line-height: 20px;
    color: black;
    background-color: #FFFFFF;
    margin-top: 16px;
}
.course-desc > p > .iconify {
    position: absolute;
    right: 0;

}
.course-card-bottom {
    display: flex;
    vertical-align: bottom;
    justify-content: space-around;
    margin-bottom: 9px;
}
.course-card-bottom > .iconify {
    color: #1F7A54;
}
.course-1 {
    background-color: blue;
}
.course-2 {
    background-color: green;
}
.course-3 {
    background-color: yellow;
}

/* footer */
footer {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    bottom: 0;
}
.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E1E1;
}
.footer-top > p > a {
    color: #1F7A54;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
}
.footer-bottom > a > img {
    height: 24px;
    width: 90px;
}
.footer-bottom > p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}

/* media query */
@media only screen and (max-width: 1030px) {
    .courses-container {
        margin-top: 16px;
        display: grid;
        grid-gap: 25px 24px;
        grid-template-columns: repeat(1,minmax(571px,1fr));
        grid-template-rows: repeat( 1fr);
    }
}
@media only screen and (max-width: 614px) {
    .courses-container {
        margin-top: 16px;
        display: grid;
        grid-gap: 25px 24px;
        grid-template-columns: repeat(1,minmax(571px,1fr));
        grid-template-rows: repeat( 1fr);
    }
}