@import './_variables';
@import './_navbar';
@import './footer';

.body-dashboard {
    background-color: $primaryColor-200;
    font-family: Quicksand, sans-serif;
    font-weight: medium;
    margin: 0;
}

.main {
    padding-top: 80px;
    margin: auto 24px;
}

/* navtab */
.navtab {
    background-color: $primaryColor-350;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .navtab-item {
        @include xyAlign(center,center);
        vertical-align: middle;
        a {
            color: $primaryColor-1050;
            font-size: $text-lg;
            line-height: 20px;
            letter-spacing: 0;
            .nav-tab-icon {
                transform: scaleX(-1);
                vertical-align: middle;
            }
            .navtab-item-digit {
                vertical-align: middle;
                margin: auto 8px;
                font-weight: bold;
                font-size: $text-xl;
                line-height: 28px;
                letter-spacing: 0;
            }
        }

    }
    .active {
        border-bottom: 4px solid $primaryColor-1100;
    }
}

/* navtab content */
.sortbar {
    padding-top: 24px;
    height: 45px;
    display: flex;
    border-width: 0 0 1px;
    border-bottom: rgba(0, 0, 0, .12) solid 1px;
    .sortbar-start {
        @include yAlign(center);
        font-size: $text-sm;
        line-height: 14px;
        color: $primaryColor-1000;
        font-weight: medium;
        letter-spacing: 0;   
    }
    .sortbar-end {
        @include yAlign(start);
        flex-grow: 1;
        flex-flow: row-reverse wrap;
        font-size: $text-sm;
        line-height: 16px;
        color: $primaryColor-1000;
        .sortby-dropdown-box {
            border-width: 0 0 1px;
            border-color: rgba(0, 0, 0, .12);
            width: 165px;
            font-size: $text-lg;
            line-height: 20px;
            margin-left: 6px;
            background-color: $primaryColor-200;
        }
        span {
            @include yAlign(center);
            .iconify {
                color: $primaryColor-600;
                margin-left: 24px;
            }
        }
        
    }
}

/* course container */
.courses-container {
    margin-top: 16px;
    display: grid;
    grid-gap: 25px 24px;
    grid-template-columns: repeat(3,minmax(476px,1fr));
    grid-template-rows: auto;
    .course-card {
        background-color: $primaryColor-100;
        display: flex;
        flex-direction: column;
        .badge {
            position: absolute;
            background-color: $primaryColor-750;
            color: $primaryColor-800;
            font-family: Museo, sans;
            font-weight: medium;
            font-size: $text-xs;
            line-height: 16px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .course-card-top {
            margin: 24px 24px auto;
            padding-bottom: 16px;
            border-bottom: rgba(0, 0, 0, .12) solid 1px;
            display: flex;
            .course-img {
                width: 132px;
                height: 157px;
            }
            .course-desc {
                margin-left: 16px;
                flex-grow: 1;
                p {
                    margin: 0 auto;
                    position: relative;
                    vertical-align: top;
                    font-size: $text-sm;
                    line-height: 16px;
                    color: $primaryColor-900;
                    .iconify {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                .card-heading {
                    font-size: $text-lg !important;
                    line-height: 20px !important;
                    font-weight: normal;
                    color: $primaryColor-1100 !important;
                
                }
                .course-desc-row-1 {
                    margin-top: 7px !important;
                    span > span {
                        color: $primaryColor-600;
                    }
                }
                .course-desc-row-2 {
                    margin-top: 7px !important;
                    b {
                        color: $primaryColor-1100;
                    }
                }
                .course-desc-row-3 {
                    margin-top: 13px !important;
                }
                .class-dropdown-box {
                    border-width: 0 0 1px;
                    border-color: rgba(0, 0, 0, .12);
                    width: 264px;
                    font-size: $text-lg;
                    line-height: 20px;
                    color: $primaryColor-1100;
                    background-color: $primaryColor-100;
                    margin-top: 16px;
                }
            }
        }
        .course-card-bottom {
            @include xAlign(space-around);
            vertical-align: bottom;
            margin-bottom: 9px;
            .iconify {
                color: $primaryColor-600;
            }
        }
    }
}

/* media query */
@media only screen and (max-width: 1530px) {
    .courses-container {
        margin-top: 16px;
        display: grid;
        grid-gap: 25px 24px;
        grid-template-columns: repeat(2,minmax(450px,1fr));
        grid-template-rows: repeat( 1fr);
    }
}
@media only screen and (max-width: 1030px) {
    .courses-container {
        width: auto !important;
        margin-top: 16px;
        display: grid;
        grid-gap: 25px 24px;
        grid-template-columns: repeat(1,minmax(571px,1fr));
        grid-template-rows: repeat( 1fr);
    }
}
@media only screen and (max-width: 614px) {
    .courses-container {
        margin-top: 16px;
        display: grid;
        grid-gap: 25px 24px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat( 1fr);
    }
}
@media only screen and (max-width: 495px) {
    .course-card-top {
        flex-direction: column;
    }
    .course-img {
        @include xAlign(center);
        width: inherit;
    }
}