@import './_variables';

/* navbar */
.navbar {
    position:fixed;
    top: 0;
    @include yAlign(center);
    height: 56px;
    width: 100vw;
    z-index: 100;
    background-image: url("../assets/nav-bg.png");
    border: auto auto 2px;
    border-bottom: 2px solid $primaryColor-500;
}
.logo-img {
    width: 134.02px;
    height: 35.99px;
    margin-left: 24px;
}
.navbar-nav {
    margin: 0px;
}
.navbar-start {
    @include yAlign(center);
    height: inherit;
}
.navbar-end {
    flex-grow: 1;
    display: flex;
    height: inherit;
    flex-flow: row-reverse wrap;
    margin-right: 24px;
    .navbar-nav {
        height: inherit;
        @include yAlign(center);
    
        .nav-item{
            display: flex;
            align-items: center;
            margin: 0 auto 0 32px !important;
            height: inherit;
            a {
                color: $primaryColor-400;
                font-size: $text-base;
                line-height: 14px;
                letter-spacing: 0;
                font-weight: normal;
                &:hover{
                    color: $primaryColor-100 !important;
    
                }
            }
            .active {
                color: $primaryColor-100 !important;
            }

            .nav-link {
                position: relative;
                .badge {
                    text-align: center;
                    height: inherit;
                    vertical-align: center;
                    width: 17px;
                    margin: auto;
                    height: 17px;
                    font-size: $text-sm;
                    border-radius: 50%;
                    position: absolute;
                    right: -4;
                    top: -5;
                    color: $primaryColor-100;
                    background-color: $primaryColor-700;
                    div {
                        @include xyAlign(center,center);
                    
                        height: inherit;
                    }
                }
                .user-img {
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    border: 2px solid $primaryColor-400;
                    position: relative;
                
                }
                .user-img ~ span {
                    right: -4;
                    top: -4;
                    color: $primaryColor-1100 ;
                    background-color: $primaryColor-100;
                }
            }

        }
        .hamburger-items {
            display: flex;
        }
        .hamburger {
            display: none;
        }
        .nav-item-active {
            border-bottom: 4px $primaryColor-100 solid;
        }
    }
}

// announcement
.announcement-div {
    position: absolute;
    top: 41px;
    right: 0px;
    z-index: 200;
    width: 315px;
    height: 582px;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column-reverse;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
    .announcement-top {
        display: flex;
        align-items: start;
        height: inherit;
        flex-direction: column;
        overflow-y: scroll;
        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            background-color: $primaryColor-100;
        }
        
        &::-webkit-scrollbar{
            width: 4px;
            background-color: $primaryColor-100;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
            background-color: rgba(0,0,0,.38);
        }
        .announcement-card {
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            .announcement-content {
                padding: 16px 16px 16px;
            }
            p{
                color: rgba(110, 110, 110, 1);
                position: relative;
                margin: 0;
                font-size: 12px;
                .iconify-check {

                    position: absolute;
                    right: 0;
                    color: $primaryColor-600;
                }
            }
            .row-1 {
            }
            .row-2 {
                margin-top: 8px;
                font-size: 14px;
                color: $primaryColor-1100;
            }
            .row-3 {
                margin-top: 8px;
            }
            .row-4 {
                margin-top: 8px;
                .announcement-date {
                    float: right;
                }
            }

        }
        .yellow-tint {
            background-color: $primaryColor-250;
        }
    }
    .announcement-bottom{
        // position: fixed;
        height: 48px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 13, 0.6);
        button{
            font-size: 14px;
            color: #1F7A54;
            border: 0;
            &:nth-child(odd){
                border-right: 1px solid black !important;
                line-height: 10px;
            }
        }
    }

    
}

//notification
.notification-div {
    position: absolute;
    top: 41px;
    right: 0px;
    z-index: 200;
    width: 315px;
    display: none;
    height: 534px;
    background-color: #FFFFFF;
    flex-direction: column-reverse;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
    .notification-top {
        display: flex;
        align-items: start;
        height: inherit;
        flex-direction: column;
        overflow-y: scroll;
        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            background-color: $primaryColor-100;
        }
        
        &::-webkit-scrollbar{
            width: 4px;
            background-color: $primaryColor-100;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
            background-color: rgba(0,0,0,.38);
        }
        .notification-card {
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            .notification-content {
                padding: 16px 16px 16px;
            }
            p{
                color: rgba(110, 110, 110, 1);
                position: relative;
                margin: 0;
                font-size: 12px;
                .iconify-check {

                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $primaryColor-600;
                }
            }
            .row-1 {
                color: $primaryColor-1100;
                font-size: 14px;

            }
            .row-2 {
                margin-top: 8px;
                span {
                    color: $primaryColor-1100;
                }
            }

            .row-3 {
                margin-top: 8px;
                .notification-date {
                    float: right;
                }
            }

        }
        .yellow-tint {
            background-color: $primaryColor-250;
        }
    }
    .notification-bottom{
        // position: fixed;
        height: 48px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 13, 0.6);
        button{
            font-size: 14px;
            color: #1F7A54;
            border: 0;

        }
    }
}

.hamburger-div {
    position: absolute;
    top: 41px;
    right: 0px;
    z-index: 200;
    width: 280px;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
    .hamburger-element{
        display: contents !important;
        flex-direction: column;
        p {
            color: $primaryColor-600;
            font-size: 14px;
            display: flex;
            align-items: center;
            // width: inherit;
            margin: 0;
            padding: 15px 16px;
            .iconify-arrow {
                position: absolute;
                right: 24;
                color: $primaryColor-600;
            }
        }
        .content-more-btn {
            background-color: #F3F3F3;
        }
        .content-more {
            padding: 15px 16px 15px 32px ;
            background-color: #F3F3F3;
        }
    }
}

/* media query */
@media only screen and (max-width: 1030px) {
    .hamburger {
        display: flex !important;
    }
    .hamburger-items {
        display: none !important;
    }
}