a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 56px;
  width: 100vw;
  z-index: 100;
  background-image: url("../assets/nav-bg.png");
  border: auto auto 2px;
  border-bottom: 2px solid #31B9E4;
}

.logo-img {
  width: 134.02px;
  height: 35.99px;
  margin-left: 24px;
}

.navbar-nav {
  margin: 0px;
}

.navbar-start {
  display: flex;
  align-items: center;
  height: inherit;
}

.navbar-end {
  flex-grow: 1;
  display: flex;
  height: inherit;
  flex-flow: row-reverse wrap;
  margin-right: 24px;
}
.navbar-end .navbar-nav {
  height: inherit;
  display: flex;
  align-items: center;
}
.navbar-end .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  margin: 0 auto 0 32px !important;
  height: inherit;
}
.navbar-end .navbar-nav .nav-item a {
  color: #3FD28B;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  font-weight: normal;
}
.navbar-end .navbar-nav .nav-item a:hover {
  color: #ffffff !important;
}
.navbar-end .navbar-nav .nav-item .active {
  color: #ffffff !important;
}
.navbar-end .navbar-nav .nav-item .nav-link {
  position: relative;
}
.navbar-end .navbar-nav .nav-item .nav-link .badge {
  text-align: center;
  height: inherit;
  vertical-align: center;
  width: 17px;
  margin: auto;
  height: 17px;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  right: -4;
  top: -5;
  color: #ffffff;
  background-color: #2A7FF3;
}
.navbar-end .navbar-nav .nav-item .nav-link .badge div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.navbar-end .navbar-nav .nav-item .nav-link .user-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #3FD28B;
  position: relative;
}
.navbar-end .navbar-nav .nav-item .nav-link .user-img ~ span {
  right: -4;
  top: -4;
  color: #000000;
  background-color: #ffffff;
}
.navbar-end .navbar-nav .hamburger-items {
  display: flex;
}
.navbar-end .navbar-nav .hamburger {
  display: none;
}
.navbar-end .navbar-nav .nav-item-active {
  border-bottom: 4px #ffffff solid;
}

.announcement-div {
  position: absolute;
  top: 41px;
  right: 0px;
  z-index: 200;
  width: 315px;
  height: 582px;
  background-color: #FFFFFF;
  display: none;
  flex-direction: column-reverse;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
}
.announcement-div .announcement-top {
  display: flex;
  align-items: start;
  height: inherit;
  flex-direction: column;
  overflow-y: scroll;
}
.announcement-div .announcement-top::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
.announcement-div .announcement-top::-webkit-scrollbar {
  width: 4px;
  background-color: #ffffff;
}
.announcement-div .announcement-top::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.38);
}
.announcement-div .announcement-top .announcement-card {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.announcement-div .announcement-top .announcement-card .announcement-content {
  padding: 16px 16px 16px;
}
.announcement-div .announcement-top .announcement-card p {
  color: rgb(110, 110, 110);
  position: relative;
  margin: 0;
  font-size: 12px;
}
.announcement-div .announcement-top .announcement-card p .iconify-check {
  position: absolute;
  right: 0;
  color: #1F7A54;
}
.announcement-div .announcement-top .announcement-card .row-2 {
  margin-top: 8px;
  font-size: 14px;
  color: #000000;
}
.announcement-div .announcement-top .announcement-card .row-3 {
  margin-top: 8px;
}
.announcement-div .announcement-top .announcement-card .row-4 {
  margin-top: 8px;
}
.announcement-div .announcement-top .announcement-card .row-4 .announcement-date {
  float: right;
}
.announcement-div .announcement-top .yellow-tint {
  background-color: #FFFFEE;
}
.announcement-div .announcement-bottom {
  height: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 13, 0.6);
}
.announcement-div .announcement-bottom button {
  font-size: 14px;
  color: #1F7A54;
  border: 0;
}
.announcement-div .announcement-bottom button:nth-child(odd) {
  border-right: 1px solid black !important;
  line-height: 10px;
}

.notification-div {
  position: absolute;
  top: 41px;
  right: 0px;
  z-index: 200;
  width: 315px;
  display: none;
  height: 534px;
  background-color: #FFFFFF;
  flex-direction: column-reverse;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
}
.notification-div .notification-top {
  display: flex;
  align-items: start;
  height: inherit;
  flex-direction: column;
  overflow-y: scroll;
}
.notification-div .notification-top::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
.notification-div .notification-top::-webkit-scrollbar {
  width: 4px;
  background-color: #ffffff;
}
.notification-div .notification-top::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.38);
}
.notification-div .notification-top .notification-card {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.notification-div .notification-top .notification-card .notification-content {
  padding: 16px 16px 16px;
}
.notification-div .notification-top .notification-card p {
  color: rgb(110, 110, 110);
  position: relative;
  margin: 0;
  font-size: 12px;
}
.notification-div .notification-top .notification-card p .iconify-check {
  position: absolute;
  top: 0;
  right: 0;
  color: #1F7A54;
}
.notification-div .notification-top .notification-card .row-1 {
  color: #000000;
  font-size: 14px;
}
.notification-div .notification-top .notification-card .row-2 {
  margin-top: 8px;
}
.notification-div .notification-top .notification-card .row-2 span {
  color: #000000;
}
.notification-div .notification-top .notification-card .row-3 {
  margin-top: 8px;
}
.notification-div .notification-top .notification-card .row-3 .notification-date {
  float: right;
}
.notification-div .notification-top .yellow-tint {
  background-color: #FFFFEE;
}
.notification-div .notification-bottom {
  height: 48px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 13, 0.6);
}
.notification-div .notification-bottom button {
  font-size: 14px;
  color: #1F7A54;
  border: 0;
}

.hamburger-div {
  position: absolute;
  top: 41px;
  right: 0px;
  z-index: 200;
  width: 280px;
  background-color: #FFFFFF;
  display: none;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
}
.hamburger-div .hamburger-element {
  display: contents !important;
  flex-direction: column;
}
.hamburger-div .hamburger-element p {
  color: #1F7A54;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 15px 16px;
}
.hamburger-div .hamburger-element p .iconify-arrow {
  position: absolute;
  right: 24;
  color: #1F7A54;
}
.hamburger-div .hamburger-element .content-more-btn {
  background-color: #F3F3F3;
}
.hamburger-div .hamburger-element .content-more {
  padding: 15px 16px 15px 32px;
  background-color: #F3F3F3;
}

/* media query */
@media only screen and (max-width: 1030px) {
  .hamburger {
    display: flex !important;
  }
  .hamburger-items {
    display: none !important;
  }
}
.body-login {
  background-color: #EEEEEE;
  font-family: Quicksand, sans-serif;
  font-weight: medium;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* form */
.form {
  width: 488px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-top: 4px solid #3AC7EC;
  border-radius: 2px;
  flex-direction: column;
  padding: 22px 32px 24px;
  position: absolute;
  top: 108px;
  /* heading */
  /* radio-button */
  /* drop-down */
  /* text-box */
  /* checkbox */
  /* login-button */
}
.form .heading-icon {
  color: #1F7A54;
  position: absolute;
  left: 32px;
}
.form .login-heading {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
  display: inline;
}
.form .radio-button-div {
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.form .radio-button-div input[type=radio] {
  accent-color: #1F7A54;
  width: 20px;
  height: 24px;
}
.form .radio-button-div label {
  font-size: 16px;
  line-height: 20px;
  margin-left: 8px;
  color: #333333;
}
.form .radio-button-div .independent-school-input {
  margin-left: 32px;
}
.form .dropdown label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: #666666;
}
.form .dropdown .dropdown-box {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  letter-spacing: 0;
  border-width: 0 0 0.1px;
  border-color: #ECECEC;
}
.form .dropdown-city-div {
  margin-top: 25px;
}
.form .dropdown-district-div {
  margin-top: 36px;
}
.form .input-box {
  border-width: 0 0 0.1px;
  border-color: #ECECEC;
  padding-bottom: 5px;
  width: 100%;
}
.form .input-box::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
}
.form .input-box::placeholder {
  font-size: 16px;
  line-height: 20px;
}
.form .username-div {
  margin-top: 56px;
}
.form .password-div {
  margin-top: 33px;
}
.form .forgot-text {
  margin: 0;
  margin-top: 5px;
  text-align: end;
  font-size: 14px;
  line-height: 18px;
  color: #1F7A54;
}
.form .checkbox-div {
  margin-top: 26px;
  display: flex;
  align-items: center;
}
.form .checkbox-div input[type=checkbox] {
  accent-color: #1F7A54;
  height: 24px;
  width: 18px;
}
.form .checkbox-div label {
  margin-left: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.form .login-button-div {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}
.form .login-button-div .login-button {
  height: 40px;
  width: 215.51px;
  background-color: #3FD28B;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  border: 0;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 56px;
  width: 100vw;
  z-index: 100;
  background-image: url("../assets/nav-bg.png");
  border: auto auto 2px;
  border-bottom: 2px solid #31B9E4;
}

.logo-img {
  width: 134.02px;
  height: 35.99px;
  margin-left: 24px;
}

.navbar-nav {
  margin: 0px;
}

.navbar-start {
  display: flex;
  align-items: center;
  height: inherit;
}

.navbar-end {
  flex-grow: 1;
  display: flex;
  height: inherit;
  flex-flow: row-reverse wrap;
  margin-right: 24px;
}
.navbar-end .navbar-nav {
  height: inherit;
  display: flex;
  align-items: center;
}
.navbar-end .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  margin: 0 auto 0 32px !important;
  height: inherit;
}
.navbar-end .navbar-nav .nav-item a {
  color: #3FD28B;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  font-weight: normal;
}
.navbar-end .navbar-nav .nav-item a:hover {
  color: #ffffff !important;
}
.navbar-end .navbar-nav .nav-item .active {
  color: #ffffff !important;
}
.navbar-end .navbar-nav .nav-item .nav-link {
  position: relative;
}
.navbar-end .navbar-nav .nav-item .nav-link .badge {
  text-align: center;
  height: inherit;
  vertical-align: center;
  width: 17px;
  margin: auto;
  height: 17px;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  right: -4;
  top: -5;
  color: #ffffff;
  background-color: #2A7FF3;
}
.navbar-end .navbar-nav .nav-item .nav-link .badge div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.navbar-end .navbar-nav .nav-item .nav-link .user-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #3FD28B;
  position: relative;
}
.navbar-end .navbar-nav .nav-item .nav-link .user-img ~ span {
  right: -4;
  top: -4;
  color: #000000;
  background-color: #ffffff;
}
.navbar-end .navbar-nav .hamburger-items {
  display: flex;
}
.navbar-end .navbar-nav .hamburger {
  display: none;
}
.navbar-end .navbar-nav .nav-item-active {
  border-bottom: 4px #ffffff solid;
}

.announcement-div {
  position: absolute;
  top: 41px;
  right: 0px;
  z-index: 200;
  width: 315px;
  height: 582px;
  background-color: #FFFFFF;
  display: none;
  flex-direction: column-reverse;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
}
.announcement-div .announcement-top {
  display: flex;
  align-items: start;
  height: inherit;
  flex-direction: column;
  overflow-y: scroll;
}
.announcement-div .announcement-top::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
.announcement-div .announcement-top::-webkit-scrollbar {
  width: 4px;
  background-color: #ffffff;
}
.announcement-div .announcement-top::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.38);
}
.announcement-div .announcement-top .announcement-card {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.announcement-div .announcement-top .announcement-card .announcement-content {
  padding: 16px 16px 16px;
}
.announcement-div .announcement-top .announcement-card p {
  color: rgb(110, 110, 110);
  position: relative;
  margin: 0;
  font-size: 12px;
}
.announcement-div .announcement-top .announcement-card p .iconify-check {
  position: absolute;
  right: 0;
  color: #1F7A54;
}
.announcement-div .announcement-top .announcement-card .row-2 {
  margin-top: 8px;
  font-size: 14px;
  color: #000000;
}
.announcement-div .announcement-top .announcement-card .row-3 {
  margin-top: 8px;
}
.announcement-div .announcement-top .announcement-card .row-4 {
  margin-top: 8px;
}
.announcement-div .announcement-top .announcement-card .row-4 .announcement-date {
  float: right;
}
.announcement-div .announcement-top .yellow-tint {
  background-color: #FFFFEE;
}
.announcement-div .announcement-bottom {
  height: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 13, 0.6);
}
.announcement-div .announcement-bottom button {
  font-size: 14px;
  color: #1F7A54;
  border: 0;
}
.announcement-div .announcement-bottom button:nth-child(odd) {
  border-right: 1px solid black !important;
  line-height: 10px;
}

.notification-div {
  position: absolute;
  top: 41px;
  right: 0px;
  z-index: 200;
  width: 315px;
  display: none;
  height: 534px;
  background-color: #FFFFFF;
  flex-direction: column-reverse;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
}
.notification-div .notification-top {
  display: flex;
  align-items: start;
  height: inherit;
  flex-direction: column;
  overflow-y: scroll;
}
.notification-div .notification-top::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
.notification-div .notification-top::-webkit-scrollbar {
  width: 4px;
  background-color: #ffffff;
}
.notification-div .notification-top::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.38);
}
.notification-div .notification-top .notification-card {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.notification-div .notification-top .notification-card .notification-content {
  padding: 16px 16px 16px;
}
.notification-div .notification-top .notification-card p {
  color: rgb(110, 110, 110);
  position: relative;
  margin: 0;
  font-size: 12px;
}
.notification-div .notification-top .notification-card p .iconify-check {
  position: absolute;
  top: 0;
  right: 0;
  color: #1F7A54;
}
.notification-div .notification-top .notification-card .row-1 {
  color: #000000;
  font-size: 14px;
}
.notification-div .notification-top .notification-card .row-2 {
  margin-top: 8px;
}
.notification-div .notification-top .notification-card .row-2 span {
  color: #000000;
}
.notification-div .notification-top .notification-card .row-3 {
  margin-top: 8px;
}
.notification-div .notification-top .notification-card .row-3 .notification-date {
  float: right;
}
.notification-div .notification-top .yellow-tint {
  background-color: #FFFFEE;
}
.notification-div .notification-bottom {
  height: 48px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 13, 0.6);
}
.notification-div .notification-bottom button {
  font-size: 14px;
  color: #1F7A54;
  border: 0;
}

.hamburger-div {
  position: absolute;
  top: 41px;
  right: 0px;
  z-index: 200;
  width: 280px;
  background-color: #FFFFFF;
  display: none;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 13, 0.8);
}
.hamburger-div .hamburger-element {
  display: contents !important;
  flex-direction: column;
}
.hamburger-div .hamburger-element p {
  color: #1F7A54;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 15px 16px;
}
.hamburger-div .hamburger-element p .iconify-arrow {
  position: absolute;
  right: 24;
  color: #1F7A54;
}
.hamburger-div .hamburger-element .content-more-btn {
  background-color: #F3F3F3;
}
.hamburger-div .hamburger-element .content-more {
  padding: 15px 16px 15px 32px;
  background-color: #F3F3F3;
}

/* media query */
@media only screen and (max-width: 1030px) {
  .hamburger {
    display: flex !important;
  }
  .hamburger-items {
    display: none !important;
  }
}
a {
  text-decoration: none;
}

/* footer */
footer .footer-login {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  bottom: 0;
}
footer .footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-top p > a {
  color: #1F7A54;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}
footer .footer-bottom {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E1E1;
}
footer .footer-bottom a > img {
  height: 24px;
  width: 90px;
}
footer .footer-bottom p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

@media only screen and (min-width: 1030px) {
  .footer-dashboard {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    bottom: 0;
  }
}
@media only screen and (max-width: 1030px) {
  .courses-container {
    width: auto !important;
    margin-top: 16px;
    display: grid;
    grid-gap: 25px 24px;
    grid-template-columns: repeat(1, minmax(571px, 1fr));
    grid-template-rows: repeat(1fr);
  }
  .footer-dashboard {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    bottom: 0;
  }
}
.body-dashboard {
  background-color: #EEEEEE;
  font-family: Quicksand, sans-serif;
  font-weight: medium;
  margin: 0;
}

.main {
  padding-top: 80px;
  margin: auto 24px;
}

/* navtab */
.navtab {
  background-color: #8DDC97;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navtab .navtab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.navtab .navtab-item a {
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}
.navtab .navtab-item a .nav-tab-icon {
  transform: scaleX(-1);
  vertical-align: middle;
}
.navtab .navtab-item a .navtab-item-digit {
  vertical-align: middle;
  margin: auto 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
}
.navtab .active {
  border-bottom: 4px solid #000000;
}

/* navtab content */
.sortbar {
  padding-top: 24px;
  height: 45px;
  display: flex;
  border-width: 0 0 1px;
  border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
}
.sortbar .sortbar-start {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  font-weight: medium;
  letter-spacing: 0;
}
.sortbar .sortbar-end {
  display: flex;
  align-items: start;
  flex-grow: 1;
  flex-flow: row-reverse wrap;
  font-size: 12px;
  line-height: 16px;
  color: #686868;
}
.sortbar .sortbar-end .sortby-dropdown-box {
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.12);
  width: 165px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6px;
  background-color: #EEEEEE;
}
.sortbar .sortbar-end span {
  display: flex;
  align-items: center;
}
.sortbar .sortbar-end span .iconify {
  color: #1F7A54;
  margin-left: 24px;
}

/* course container */
.courses-container {
  margin-top: 16px;
  display: grid;
  grid-gap: 25px 24px;
  grid-template-columns: repeat(3, minmax(476px, 1fr));
  grid-template-rows: auto;
}
.courses-container .course-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.courses-container .course-card .badge {
  position: absolute;
  background-color: #FFE4E6;
  color: #D80000;
  font-family: Museo, sans;
  font-weight: medium;
  font-size: 10px;
  line-height: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.courses-container .course-card .course-card-top {
  margin: 24px 24px auto;
  padding-bottom: 16px;
  border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
  display: flex;
}
.courses-container .course-card .course-card-top .course-img {
  width: 132px;
  height: 157px;
}
.courses-container .course-card .course-card-top .course-desc {
  margin-left: 16px;
  flex-grow: 1;
}
.courses-container .course-card .course-card-top .course-desc p {
  margin: 0 auto;
  position: relative;
  vertical-align: top;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.courses-container .course-card .course-card-top .course-desc p .iconify {
  position: absolute;
  right: 0;
  top: 0;
}
.courses-container .course-card .course-card-top .course-desc .card-heading {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: normal;
  color: #000000 !important;
}
.courses-container .course-card .course-card-top .course-desc .course-desc-row-1 {
  margin-top: 7px !important;
}
.courses-container .course-card .course-card-top .course-desc .course-desc-row-1 span > span {
  color: #1F7A54;
}
.courses-container .course-card .course-card-top .course-desc .course-desc-row-2 {
  margin-top: 7px !important;
}
.courses-container .course-card .course-card-top .course-desc .course-desc-row-2 b {
  color: #000000;
}
.courses-container .course-card .course-card-top .course-desc .course-desc-row-3 {
  margin-top: 13px !important;
}
.courses-container .course-card .course-card-top .course-desc .class-dropdown-box {
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.12);
  width: 264px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  margin-top: 16px;
}
.courses-container .course-card .course-card-bottom {
  display: flex;
  justify-content: space-around;
  vertical-align: bottom;
  margin-bottom: 9px;
}
.courses-container .course-card .course-card-bottom .iconify {
  color: #1F7A54;
}

/* media query */
@media only screen and (max-width: 1530px) {
  .courses-container {
    margin-top: 16px;
    display: grid;
    grid-gap: 25px 24px;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    grid-template-rows: repeat(1fr);
  }
}
@media only screen and (max-width: 1030px) {
  .courses-container {
    width: auto !important;
    margin-top: 16px;
    display: grid;
    grid-gap: 25px 24px;
    grid-template-columns: repeat(1, minmax(571px, 1fr));
    grid-template-rows: repeat(1fr);
  }
}
@media only screen and (max-width: 614px) {
  .courses-container {
    margin-top: 16px;
    display: grid;
    grid-gap: 25px 24px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
  }
}
@media only screen and (max-width: 495px) {
  .course-card-top {
    flex-direction: column;
  }
  .course-img {
    display: flex;
    justify-content: center;
    width: inherit;
  }
}/*# sourceMappingURL=styles.css.map */